JWT_SECRET=asupersecretsecretforjwt
REDIRECT_URI=https://www.lukeandjadi.com
DSN=postgres://user:pass@localhost:5432/luke_jadi_wedding

EMAIL_HOST=smtp.zoho.com
EMAIL_USER=luke@lukeandjadi.com
EMAIL_PASS=thepassword
EMAIL_FROM=luke@lukeandjadi.cod