@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-blue-800 cursor-pointer hover:underline;
}

* {
  @apply z-10;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.Toastify__toast-container {
  @apply w-full max-w-screen-sm !important;
}

.Toastify__toast--success,
.Toastify__toast--info {
  @apply text-emerald-600 border border-emerald-600;
  background: #FFF !important;
}

.Toastify__close-button--success,
.Toastify__close-button--info {
  @apply text-emerald-600 !important;
}

.Toastify__toast--error {
  @apply text-red-500 border border-red-500;
  background: #FFF !important;
}

.Toastify__close-button--error {
  @apply text-red-500 !important;
}

.lds-dual-ring {
  display: inline-block;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 1rem 0 0;
  border-radius: 50%;
  border: 4px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
